grant 
{  
   permission v2ch09.permissions.WordCheckPermission "sex,drugs,C++", "avoid";
   permission v2ch09.permissions.WordCheckPermission "sexy", "insert";
};
